Odczytaj z pliku **Ludność w  Polsce - prognozy.xlsx**, z arkusza **pięcioletnie grupy wieku** dane z roku 2021. Wyświetl je na wykresie słupkowym skumulowanym.

Dodaj legendę, która wyjaśni która część słupków to dane o kobietach, a która o mężczyznach.

Pod każdym słupkiem dodaj etykietę, która powie jakiej grupy wiekowej dany słupek dotyczy.

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_excel(os.path.join("..", "01_Dane do wykresów", "Ludność w Polsce - prognozy.xlsx"), sheet_name="pięcioletnie grupy wieku")

In [7]:
df.head()

    Rok   Wiek   Ogółem  Mężczyźni  Kobiety
0  2014    0-4  1926441     990515   935926
1  2014    5-9  1998406    1024154   974252
2  2014  10-14  1789943     918424   871519
3  2014  15-19  2024374    1036453   987921
4  2014  20-24  2507493    1278725  1228768

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rok        777 non-null    int64
 1   Wiek       777 non-null    object
 2   Ogółem     777 non-null    int64
 3   Mężczyźni  777 non-null    int64
 4   Kobiety    777 non-null    int64
dtypes: int64(4), object(1)
memory usage: 30.5+ KB